.category {
  &.collapsible {
    .title {
      cursor: pointer;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-800);
    text-transform: uppercase;
    font-size: 0.8rem;
    user-select: none;
    font-weight: bold;
  }

  .collapse {
    background: none;
    border: none;
    color: var(--grey-800);
    font-size: 0;
    padding: 0.3rem;

    svg {
      font-size: 0.8rem;
    }
  }

  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--grey-400);
}
