button.selection {
  height: 2.5rem;
  padding: 0.75rem;

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12rem;
    overflow: hidden;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .chevron {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
