.number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  & > div:first-child {
    flex: 1;
  }

  input {
    flex: 1;
    border: none;
    -moz-appearance: textfield;
    height: 1.3rem;
    padding: 0 0.2rem;
    text-align: right;
    border-radius: 0.25rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input {
    span {
      font-size: 0.8rem;
      margin-left: 0.2rem;
    }
  }

  span {
    width: 2.5rem;
    text-align: right;
  }

  button {
    border: none;
    cursor: pointer;
    height: 1.3rem;
    margin-left: 0.4rem;
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
