.project {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 100%;
  height: 100%;
  min-height: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;

  .generated {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: none;

    .item {
      transition: 0.2s ease-in-out opacity;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .queue,
  .recent,
  .modes {
    list-style-type: none;
    padding: 1rem;
    margin: 0;

    .status {
      font-size: 2rem;
    }
  }

  .recent {
    .item {
      opacity: 0.75;

      &:hover,
      &.active {
        opacity: 1;
      }

      .more {
        font-size: 1rem;
      }
    }
  }

  .queue {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--grey-400);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  background: var(--grey-300);
  position: relative;
  background-size: cover;
  cursor: pointer;
  font-size: 0;
  transition: 0.2s ease-in-out all;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  svg {
    font-size: 1.5rem;
  }

  &:hover,
  &.active {
    background-color: var(--grey-400);
    color: var(--grey-900);
  }

  &.failed {
    color: var(--red-900);
  }
}
