.wrapper {
  position: absolute;
  inset: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.background {
  background: var(--grey-300-transparent);
}
