.settings {
  position: relative;
  margin: 0 1rem;
  border-radius: 5px;
  overflow: hidden;
  background: var(--grey-200);
}

.tag {
  display: flex;
  align-items: center;

  & > *:first-child {
    flex: 1;
    border: none;
  }
}

.var {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 1rem;

  [varui-category] {
    border-bottom: 1px solid var(--grey-300);
  }

  [varui-label] {
    margin: 1rem 0;
  }
}

.headerItem {
  border-bottom: 1px solid var(--grey-300);
}

.memory {
  margin: 1rem 0;
  font-size: 0.8rem;

  span {
    margin-right: 0.5rem;

    &:first-child {
      font-weight: 600;
    }
  }
}

.actions {
  display: flex;
  border-bottom: 1px solid var(--grey-400);
  justify-content: flex-end;
  padding: 1rem;

  button {
    margin-left: 0.5rem;
  }
}
