.iconButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: none;
  padding: 0;
  color: var(--grey-800);
  font-size: 1rem;
  position: relative;

  &:hover {
    color: var(--grey-900);
    background: none;
  }

  &.round {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-100);
    background: var(--grey-800);
    border-radius: 100%;

    &:hover {
      color: var(--grey-100);
      background: var(--grey-900);
    }

    svg {
      width: auto;
      height: 1.2rem;
    }
  }
}
