.overlay {
  position: fixed;
  z-index: 99999;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  .dropzone {
    background: var(--grey-300);
    border: 3px dashed var(--grey-200);
    max-width: 500px;
    color: var(--grey-900);
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}
