.settings {
  position: relative;
  border-left: 1px solid var(--grey-400);
}

.prompt {
  display: flex;
  flex-direction: column;
  background: var(--grey-200);
  overflow-y: auto;
}

.error {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px solid var(--red-900);
  background: var(--color-bg-error);
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 0;

  span {
    font-size: 0.8rem;
  }

  svg {
    font-size: 1.5rem;
    color: var(--red-900);
    margin-right: 0.5rem;
  }
}

.actions {
  background: var(--grey-200);
  display: flex;
  border-bottom: 1px solid var(--grey-400);
  justify-content: flex-end;

  .progress {
    display: flex;
    align-items: center;
    width: 8rem;
    margin-right: 0.5rem;

    & > div {
      height: 1.5rem;
    }
  }

  button {
    padding: 0.5rem;
    border-radius: 0;

    svg {
      font-size: 1.4rem;
    }

    &:hover {
      background: var(--grey-400);
    }
  }
}
