.settings {
  position: relative;
  border-left: 1px solid var(--grey-400);
}

.var {
  display: flex;
  flex-direction: column;
  background: var(--grey-200);
  overflow-y: auto;

  [varui-category] {
    border-bottom: 1px solid var(--grey-400);
  }

  [varui-label] {
    margin: 1rem;
  }

  [varui-category-title] {
    padding: 0 1rem;
  }
}

.error {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px solid var(--red-900);
  background: var(--red-100);
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 0;
  margin: 1rem;

  span {
    font-size: 0.8rem;
  }

  svg {
    font-size: 1.5rem;
    color: var(--red-900);
    margin-right: 0.5rem;
  }
}

.errorWrapper {
  border-bottom: 1px solid var(--grey-400);
}

.actions {
  display: flex;
  border-bottom: 1px solid var(--grey-400);
  justify-content: flex-end;
  padding: 1rem;

  button {
    margin-left: 0.5rem;
  }
}
