.settings {
  position: relative;
}

.prompt {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-panel);
  overflow-y: auto;
}

.error {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  color: var(--color-fg-error);
  background: var(--color-bg-error);
  font-weight: bold;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  background: var(--color-bg-panel-dark);
  display: flex;

  .progress {
    display: flex;
    align-items: center;
    width: 8rem;
    margin-right: 0.5rem;

    & > div {
      height: 1.5rem;
    }
  }

  @media screen and (min-width: 960px) {
    top: -2.4rem;
  }

  button {
    padding: 0.5rem;
    border-radius: 0;

    svg {
      font-size: 1.4rem;
    }

    &:hover {
      background: var(--color-bg-interactive);
    }
  }
}
