**/node_modules
.git
.github

.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pip
data*

release
vendor
assets
**/__pycache__

**/lib
**/dist
**/dist-electron
**/out
**/__tests__