lib
node_modules
dist

npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

coverage

__pycache__
*.py[cod]
cache.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
/data
/temp