.main {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 500px;
}

.prompt {
  background: var(--grey-200);
  border-top: 1px solid var(--grey-400);
  overflow-y: auto;

  [varui-label] {
    margin: 1rem;
  }

  [varui-category-title] {
    padding: 0 1rem;
  }

  .actions {
    border: none;
  }
}

.center {
  display: flex;
  flex-direction: column;
}

.preview {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  pre {
    user-select: text;
    overflow: auto;
    max-width: 100%;
    max-height: 50vh;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 500px;
    max-width: 100%;
  }

  img {
    border-radius: 8px;
    min-width: 500px;
  }

  .progressBar {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.actions {
  background: var(--grey-200);
  border-bottom: 1px solid var(--grey-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  & > div {
    display: flex;
    align-items: center;
  }

  .hint {
    margin: 0 1rem;
    font-size: 0.8rem;
  }

  .buttons {
    button {
      margin-left: 1rem;
    }
  }
}
