.main {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 500px;
    grid-template-rows: 100%;
  }
}

.preview {
  display: flex;
  flex-direction: column;
}

.info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 500px;
    max-width: 100%;
  }

  img {
    border-radius: 8px;
    min-width: 500px;
  }

  .progressBar {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
