.imageActions {
  background: var(--grey-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px 5px 0 0;

  & > div {
    display: flex;
    align-items: center;
  }

  .hint {
    margin-right: 1rem;
    font-size: 0.8rem;
  }

  button:not(:last-child) {
    margin-right: 1rem;
  }
}

.image {
  border-radius: 0 0 5px 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
