.prompt {
  background: var(--grey-200);
  overflow-y: auto;
  position: relative;
  border-radius: 5px;
  min-height: 20rem;

  &,
  [varui-category],
  [varui-category-body],
  .inputs [varui-label] {
    display: flex;
    flex-direction: column;
  }

  [varui-category-body] {
    flex: 1;
  }

  [varui-label] {
    margin: 0;
  }

  .inputs {
    display: flex;
    flex: 1;

    [varui-label] {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1;

      [varui-label-body] {
        flex: 1;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  [varui-category-title] {
    margin: 0;
    padding: 0 1rem;
  }

  [varui-category] {
    flex: 1;
    border-bottom: none;
  }

  .actions {
    background: var(--grey-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0;

    & > div {
      display: flex;
      align-items: center;
    }

    .hint {
      margin-right: 1rem;
      font-size: 0.8rem;
    }

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .style {
    width: 200px;
  }
}
