.wrapper {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;

  input {
    flex: 1;
    border: none;
    margin-right: 0.4rem;
    border: 1px solid var(--grey-400);
  }

  button {
    width: auto;
  }
}
