.home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.view {
  background: none;
}

.tab {
  background: var(--grey-400);
  border-radius: 0 5px 5px 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0;

  svg {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  span {
    font-size: 1rem;
    line-height: 1em;
    font-weight: 600;
  }
}

.welcome {
  margin-bottom: 1rem;
  background: var(--grey-200);
  padding: 1rem;
  border-radius: 5px;

  .welcomeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
