.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;

  & > div {
    width: 100%;
    max-width: 900px;
    background: var(--color-bg-panel);
    padding: 0.5rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    input {
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}
