.item {
  background: var(--grey-300);
  border-bottom: 1px solid var(--grey-100);
  transition: 0.2s ease-in-out all;
  height: 5.5rem;
  overflow: hidden;
  --progress-fg: var(--accent-900);
  --progress-bg: var(--grey-300);

  .header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 5.5rem;
    cursor: pointer;
  }

  &.darken {
    opacity: 0.75;
  }

  &:hover,
  &.open {
    background: var(--grey-400);
  }

  .body {
    height: 14.5rem;
    overflow: auto;
    padding: 0 1rem;
  }

  &.open {
    height: 20rem;

    .status.incomplete {
      transform: rotate(90deg);
    }
  }

  .info {
    flex: 1;
    margin: 0 1rem;

    .title {
      font-weight: 600;
      font-size: 1.1rem;
    }

    .description {
      font-size: 1rem;
    }
  }

  .icon,
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }

  .progress {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--grey-200);
  }

  .status {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: white;

    &.ok {
      color: var(--green-100);
      background: var(--green-900);
    }

    &.warning {
      color: var(--yellow-100);
      background: var(--yellow-900);
    }

    &.error {
      color: var(--red-900);
      background: var(--red-100);
    }

    &.incomplete {
      transition: 0.2s ease-in-out all;
      transform: rotate(0deg);
    }
  }

  pre {
    white-space: pre-wrap;
    word-break: break-all;
    user-select: text;
  }
}
