.preview {
  overflow: hidden;
  font-size: 0;
  flex: 1;
  position: relative;
  user-select: none !important;
  background: var(--color-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    transform-origin: top left;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  div {
    font-size: 1rem;
  }
}
