.list {
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  flex: 1;
  user-select: none;

  .empty {
    font-size: 1rem;
    text-align: center;
  }

  .card {
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    border-radius: 5px;
    transition: 0.1s ease-in-out background;
    background: transparent;

    .icon,
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: var(--grey-800);
      overflow: hidden;
      border-radius: 5px;
      height: 100%;
    }

    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .details {
      padding: 0.25rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &.view_grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

    &.small {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }

    .card {
      display: block;
      aspect-ratio: 0.75;

      .name {
        font-weight: 600;
        color: white;
        font-size: 0.8rem;
        margin: 0.25rem;
        overflow-wrap: break-word;
      }

      .image,
      .image img,
      .icon {
        position: absolute;
        inset: 0;
      }

      .icon {
        font-size: 3rem;
      }

      .image img {
        filter: grayscale(0.5);
        transition:
          0.3s ease-in-out transform,
          0.3s ease-in-out filter;
      }

      &:hover {
        .image img {
          filter: grayscale(0);
          transform: scale(1.2);
        }
      }

      .details {
        position: absolute;
        inset: 0;
        z-index: 1;
        flex-direction: column;

        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.2) 70%,
          rgba(0, 0, 0, 0.5) 90%,
          rgba(0, 0, 0, 0.75) 100%
        );
        border-radius: 0 0 4px 4px;
      }

      .tag {
        margin-bottom: 5px;
      }
    }
  }

  &.view_list,
  &.view_details {
    .card {
      padding: 0.25rem;

      &:hover {
        background: var(--grey-400);
      }

      .details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
      }

      .name {
        font-weight: 600;
        color: white;
        font-size: 0.9rem;
        margin: 0.25rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .tags {
        display: inline-flex;
        justify-content: space-evenly;
      }

      .info {
        display: flex;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 1rem;
      }
    }
  }

  &.view_list {
    .card {
      display: grid;
      grid-template-columns: 50px 1fr;

      .image,
      .icon {
        aspect-ratio: 1;
        border-radius: 5px;
      }
    }
  }

  &.view_details {
    .card {
      display: block;

      .image,
      .icon {
        display: none;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.options {
  display: flex;

  & > div:first-child {
    flex: 1;
  }

  & > div:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;

  & > span {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }

  & > svg {
    min-width: 1rem;
    margin: 0;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.menuItems {
  position: absolute;
  top: 2rem;
  right: 0.25rem;
  background: var(--grey-300);
  border-radius: 5px;
  overflow: hidden;
  padding: 0.25rem;
}

.menuToggle {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;

  &:hover {
    background: none !important;
  }
}

.menuItem {
  width: 100%;
  background: none;
  justify-content: flex-start;
}
