.list {
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  flex: 1;
  user-select: none;

  .card {
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    border-radius: 5px;
    transition: 0.2s ease-in-out background;
    background: transparent;

    .icon,
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: var(--grey-800);
      overflow: hidden;
      border-radius: 5px;
      height: 100%;
    }

    .image > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .details {
      padding: 0.25rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &.view_grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

    &.small {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }

    .card {
      display: block;
      border-radius: 5px;
      overflow: hidden;
      aspect-ratio: 0.75;

      .name {
        font-weight: 600;
        color: white;
        font-size: 0.8rem;
        margin: 0.25rem;
        overflow-wrap: break-word;
      }

      .image,
      .image > * {
        position: absolute;
        inset: 0;
      }

      .icon {
        font-size: 3rem;

        & > div {
          position: absolute;
          inset: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .image > * {
        filter: grayscale(0.5);
        transition:
          0.3s ease-in-out transform,
          0.3s ease-in-out filter;
      }

      &:hover {
        .image > * {
          filter: grayscale(0);
          transform: scale(1.2);
        }
      }

      .details {
        position: absolute;
        inset: 0;
        flex-direction: column;

        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.2) 70%,
          rgba(0, 0, 0, 0.5) 90%,
          rgba(0, 0, 0, 0.75) 100%
        );
      }

      .tag {
        margin-bottom: 5px;
      }

      .menuToggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border: none;

        &:hover {
          background: none !important;
        }
      }
    }
  }

  &.view_list,
  &.view_details {
    .card {
      padding: 0.25rem;

      &:hover,
      &[aria-selected='true'] {
        background: var(--grey-400);
      }

      .details {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding-right: 0;
      }

      .name {
        font-weight: 600;
        color: white;
        font-size: 0.9rem;
        margin: 0.25rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .tags {
        display: inline-flex;
        justify-content: space-evenly;
      }

      .info {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }
    }
  }

  &.view_list {
    .card {
      display: grid;
      grid-template-columns: 50px 1fr 50px;

      .icon > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }

      .image > * {
        aspect-ratio: 1;
        border-radius: 5px;
        width: 50px;
      }
    }

    &.small {
      .card {
        grid-template-columns: 25px 1fr;
        padding: 0 0.25rem;
      }

      .image > *,
      .icon > div {
        width: 25px;
        height: 25px;
      }
    }
  }

  &.view_details {
    .card {
      display: grid;
      grid-template-columns: 1fr 50px;

      .image,
      .icon {
        display: none;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.options {
  display: flex;

  & > div:first-child {
    flex: 1;
  }

  & > div:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid var(--grey-100);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;

  & > span {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }

  & > svg {
    min-width: 1rem;
    margin: 0;
  }

  &.error {
    border: 1px solid var(--red-900);
    background: var(--red-100);

    svg {
      color: var(--red-900);
    }
  }

  &.warning {
    border: 1px solid var(--yellow-900);
    background: var(--yellow-100);

    svg {
      color: var(--yellow-900);
    }
  }

  &.ok {
    border: 1px solid var(--green-900);
    background: var(--green-100);

    svg {
      color: var(--green-900);
    }
  }
}

.menuToggle {
  background: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;

  &:hover {
    background: none !important;
  }
}

.listWrapper {
  overflow-y: auto;
  border-radius: 5px;
  flex: 1;

  .empty {
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
