.lightbox {
  position: fixed;
  inset: 0;
  background: var(--grey-100);
  display: flex;
  flex-direction: column;
  z-index: 9999;
  -webkit-app-region: no-drag;

  a,
  button {
    background: none;
    font-size: 1.25rem;
    padding: 0;

    svg {
      font-size: 1.25rem;
    }

    &:hover {
      background: none;
    }
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    & > div {
      color: var(--grey-900);
      font-size: 1rem;
    }

    & > *:nth-child(2) {
      justify-self: center;
    }

    & > *:nth-child(3) {
      justify-self: end;
    }

    a,
    button {
      padding: 0.25rem;
      margin-left: 0.5rem;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    flex: 1;
  }

  .thumbnailsWrapper {
    overflow-y: hidden;
    overflow-x: visible;
    scrollbar-width: none;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .thumbnails {
    display: flex;
    margin: 0 auto;
    justify-content: safe center;

    img {
      height: 5rem;
      width: auto;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.2s ease-in-out all;
      opacity: 0.25;

      &:hover,
      &.active {
        opacity: 1;
      }

      &.active {
        border: 2px solid var(--grey-900);
      }
    }
  }
}
