.item {
  margin: -0.25rem 0;
  padding: 0;
  background: var(--grey-300);
  border-radius: 0;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  margin: 0;
  border: none;
  background: none;
}

.input,
.button {
  margin-right: 0.5rem;
}
