.item {
  color: var(--grey-900);
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
  font-size: 0.9rem;

  .chevron {
    margin-left: 0.5rem;
    color: var(--grey-800);
  }

  .text {
    flex: 1;
  }

  &.hasIcon {
    .text {
      margin-left: 0.5rem;
    }
  }

  &[data-disabled='true'] {
    color: var(--grey-600);
    cursor: not-allowed;
  }

  &:not([data-disabled='true']) {
    &[aria-selected='true'] {
      background-color: var(--grey-500);
    }
  }
}
