.picker {
  position: relative;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .loading {
    position: absolute;
    inset: -1rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: var(--grey-300-transparent);
  }
}

.items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;

  .empty {
    text-align: center;
    font-size: 0.9rem;
    color: var(--grey-800);
  }

  ul {
    li {
      display: flex;
      align-items: center;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s ease-in-out all;

      .name {
        margin: 0 0.4rem;
      }

      &:hover {
        background: var(--grey-600);
      }
    }
  }
}

.current {
  margin-bottom: 1rem;

  &,
  .actions,
  .segments {
    display: flex;
    align-items: center;
  }

  .actions {
    button {
      padding: calc(0.4rem + 1px);
    }
  }

  .segments {
    background: var(--grey-300);
    border: 1px solid var(--grey-400);
    border-radius: 5px;
    margin: 0 1rem;
    flex: 1;
    padding: 0 0.4rem;

    li {
      display: flex;
      align-items: center;
      margin-right: 0.4rem;
      padding: 0.1rem 0;

      svg {
        font-size: 0.8rem;
        color: var(--grey-800);
      }

      .name {
        padding: 0.1rem 0.4rem;
        margin-right: 0.4rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease-in-out all;

        &:hover {
          background: var(--grey-600);
        }
      }
    }
  }
}
