.models {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      margin-top: -0.5rem;
      padding: 0.5rem;
    }
  }

  &.small {
    margin: 1rem;
    padding: 1rem;
    background: var(--grey-300-transparent);
    backdrop-filter: blur(10px);
    border: 1px solid var(--grey-400);
    border-radius: 5px;
    width: 500px;
    height: 400px;
  }
}
