.settings {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.info {
  margin-bottom: 1rem;
  font-size: 0.9rem;

  .social {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    a {
      margin-right: 0.5rem;
    }
  }
}
