.button {
  &.danger {
    background: var(--red-900);
    color: white;

    &:hover {
      background: var(--red-800);
    }
  }

  &.primary {
    background: var(--accent-800);
    color: white;

    &:hover {
      background: var(--accent-700);
    }
  }

  &.secondary {
    background: none;
    padding: 0.6rem;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}
