.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-400);
  color: var(--grey-900);
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out all;
  border: 1px solid var(--grey-600);
  font-weight: 600;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--grey-600);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--grey-600) !important;
    border: 1px solid var(--grey-700) !important;

    &:hover {
      background-color: var(--grey-600) !important;
    }
  }

  span {
    margin-left: 0.5rem;
  }

  &.danger {
    background: var(--red-700);
    border: 1px solid var(--red-800);
    color: white;

    &:hover {
      background: var(--red-800);
    }
  }

  &.primary {
    background: var(--accent-800);
    border: 1px solid var(--accent-900);
    color: white;

    &:hover {
      background: var(--accent-900);
    }
  }

  &.secondary {
    background: none;
    border: none;
    padding: 0.6rem;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}
