.project {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  grid-template-rows: 100%;
  height: 100%;
  min-height: 0;
}

.modes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: var(--grey-200);

  li {
    text-transform: uppercase;
    font-size: 0;
    padding: 0.4rem;
    font-weight: bold;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-800);

    svg {
      font-size: 1.5rem;
    }

    &.active {
      background: var(--grey-300);
      color: var(--grey-900);
    }

    &:hover {
      background: var(--grey-400);
    }
  }
}
