@import 'use-context-menu/styles.css';

@font-face {
  font-family: 'Inter Tight';
  src: url('./assets/InterTight-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('./assets/InterTight.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/Inconsolata.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --grey-050: #0a0a0f;
  --grey-100: #11111a;
  --grey-200: #17171f;
  --grey-200-transparent: #17171fdd;
  --grey-300: #22222a;
  --grey-300-transparent: #22222add;
  --grey-400: #2b2b35;
  --grey-500: #35353b;
  --grey-600: #454556;
  --grey-700: #575760;
  --grey-800: #aaa;
  --grey-900: #ffffff;

  --accent-700: rgb(73, 73, 226);
  --accent-800: rgb(93, 93, 207);
  --accent-900: #77f;

  --green-100: #0f5132;
  --green-900: #75b798;

  --yellow-100: #332701;
  --yellow-900: #ffda6a;

  --red-100: #3b2931;
  --red-700: #92292d;
  --red-800: #b12126;
  --red-900: rgb(255, 97, 102);
}

/* Firefox */
* {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid transparent;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--grey-100);
  color: var(--grey-900);
  line-height: 1.4;
  user-select: none;

  overflow: hidden;
  position: fixed;
  inset: 0;
  height: 100%;
  touch-action: none;
}

.onError {
  position: fixed;
  z-index: 9999;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  pre {
    user-select: text;
  }
}

h2 {
  font-weight: 600;
}

body,
input,
button,
textarea,
a {
  font-family:
    'Inter Tight',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

textarea {
  resize: vertical;
}

p {
  margin: 0.25rem 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  touch-action: none;
}

progress {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  height: 12px;
  display: block;
  margin: 4px 0;
  width: 200px;

  &::-moz-progress-bar {
    background-color: var(--accent-900);
  }

  &::-webkit-progress-value {
    background-color: var(--accent-900);
  }

  &::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

input,
textarea,
select,
option {
  background: var(--grey-300);
  border: 1px solid var(--grey-400);
  color: var(--grey-900);
  padding: 0.6rem;
  border-radius: 5px;
  outline: none !important;
  transition: 0.2s ease-in-out all;

  &:hover {
    border-color: var(--grey-600);
  }

  &:focus {
    border-color: var(--accent-900);
  }
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-400);
  color: var(--grey-900);
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out all;
  border: 1px solid var(--grey-600);
  font-weight: 600;
  text-shadow: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--grey-600);
    }
  }

  span {
    margin-left: 0.5rem;
  }
}

kbd {
  color: var(--grey-900);
  border-radius: 5px;
  background: var(--grey-400);
  box-shadow: inset 0 -5px 0 var(--grey-300);
  padding: 0.2rem 0.4rem;

  svg {
    position: relative;
    top: 0.1rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  tr:not(:last-child) {
    border-bottom: 1px solid var(--grey-200);
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    color: var(--grey-800);
    background: var(--grey-200);
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
  }

  td {
    font-size: 0.9rem;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}
