@import 'use-context-menu/styles.css';

@font-face {
  font-family: 'Noto Sans Display';
  src: url('./assets/NotoSansDisplay-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('./assets/NotoSansDisplay.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
}

:root {
  --color-bg: #11111a;
  --color-bg-panel-dark: #17171f;
  --color-bg-panel: #22222a;
  --color-bg-interactive: #33333a;
  --color-bg-interactive-hover: #44444a;
  --color-accent: #77f;
  --color-fg-soft: #aaa;
  --color-fg: #ddd;
  --color-primary: #35353b;
  --color-primary-soft: #575760;

  --color-fg-ok: #0f5132;
  --color-bg-ok: #75b798;

  --color-fg-warning: #332701;
  --color-bg-warning: #ffda6a;

  --color-fg-error: #db504c;
  --color-bg-error: #3b2931;

  --color-bg-primary: rgb(93, 93, 207);
  --color-bg-primary-hover: rgb(73, 73, 226);

  --color-bg-danger: #da373c;
  --color-bg-danger-hover: #b12126;
}

/* Firefox */
* {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid transparent;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  line-height: 1.4;
  user-select: none;

  overflow: hidden;
  position: fixed;
  inset: 0;
  height: 100%;
  touch-action: none;
}

body,
input,
button,
textarea,
a {
  font-family:
    'Noto Sans Display',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  touch-action: none;
}

progress {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  height: 12px;
  display: block;
  margin: 4px 0;
  width: 200px;

  &::-moz-progress-bar {
    background-color: var(--color-accent);
  }

  &::-webkit-progress-value {
    background-color: var(--color-accent);
  }

  &::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

input,
textarea,
select,
option {
  background: var(--color-bg-interactive);
  border: none;
  color: var(--color-fg);
  padding: 0.6rem;
  border-radius: 5px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-interactive);
  color: var(--color-fg);
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: 0.1s ease-in-out all;
  border: none;
  font-weight: bold;
  text-shadow: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--color-bg-interactive-hover);
    }
  }

  span {
    margin-left: 0.5rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  tr:not(:last-child) {
    border-bottom: 1px solid var(--color-bg-panel-dark);
  }

  th,
  td {
    padding: 0.5rem;
  }

  th {
    color: var(--color-fg-soft);
    background: var(--color-bg-panel-dark);
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
  }

  td {
    font-size: 0.9rem;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}
