.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search,
.searchInput {
  display: flex;
  align-items: center;
}

.search {
  justify-content: space-between;
}

.searchInput {
  background: var(--color-bg-interactive);
  border: none;
  color: var(--color-fg);
  padding: 0.6rem;
  border-radius: 5px;

  input {
    background: none;
    padding: 0;
    outline: none !important;
  }

  button {
    margin-left: 0.5rem;
  }
}
