.group {
  .header {
    cursor: pointer;
    padding: 0.5rem;

    .info {
      display: flex;
      align-items: center;
    }

    .description {
      margin-top: 0.2rem;
    }

    svg {
      margin-right: 0.5rem;
    }

    &:hover {
      background: var(--grey-400);
    }
  }

  .description {
    font-size: 0.8rem;
  }

  .type {
    background: var(--grey-100);
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    margin-left: 0.5rem;
  }

  .title {
    font-weight: 600;
  }

  .models {
    padding: 0 2rem;

    .model {
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modelInfo {
        flex: 1;
        padding: 0 0.5rem;
      }

      .modelName {
        display: flex;
        align-items: center;

        & > svg {
          margin-right: 0.5rem;
        }

        button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
