button.selection {
  height: 2.5rem;
  padding: 0.75rem;
  width: 100%;

  .chevron {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  span {
    margin: 0;
  }
}

.label {
  display: block;
  margin: 1rem 0;
}

.select {
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;

  button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
