.logWrapper {
  margin-top: 1rem;
  position: relative;

  .copy {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem;
  }
}

.log {
  max-height: 300px;
  overflow-y: auto;
  user-select: text;
  background: var(--grey-100);
  padding: 0.25rem;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;

  .text,
  .timestamp {
    font-family: 'Courier New', Courier, monospace;
  }

  .text {
    margin-left: 0.5rem;
    color: white;
  }

  .timestamp {
    color: var(--grey-800);
  }

  .error {
    color: red;
  }
}
