.logWrapper {
  max-height: 300px;
  position: relative;

  .copy {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem;
  }
}

.log {
  height: 100%;
  overflow-y: auto;
  user-select: text;
  background: var(--grey-100);
  padding: 0.25rem;
  word-break: break-all;
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;

  .text,
  .timestamp {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  }

  .item {
    display: grid;
    grid-template-columns: 7rem 1fr;
    align-items: start;
  }

  &.simple {
    white-space: pre-wrap;
  }

  .text {
    margin-left: 0.5rem;
    color: var(--grey-900);
    white-space: pre-wrap;
  }

  .timestamp {
    color: var(--grey-800);
  }

  .error {
    color: var(--red-900);
  }
}
