.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--color-bg-panel-dark);
  -webkit-app-region: drag;

  .title {
    justify-self: center;
  }

  .menu {
    -webkit-app-region: no-drag;
    flex: 1;
    padding: 0.25rem 0.2rem;

    button {
      margin-right: 2px;
      padding: 0.2rem 0.6rem;
    }
  }

  .controls {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-self: end;

    button {
      background: none;
      font-size: 0;
      height: 100%;
      border-radius: 0;
      padding: 0.2rem 0.9rem;

      &:hover {
        background: var(--color-bg-panel);
      }

      svg {
        font-size: 1rem;
      }
    }
  }

  & > div {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--color-fg-soft);
  }

  button {
    background: transparent;
    padding: 0.2rem 0.6rem;
    font-weight: normal;

    &:hover {
      background: var(--color-bg-interactive);
    }
  }
}
