.status {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: var(--color-bg-panel-dark);
  padding: 0.25rem 0;

  .ready {
    color: green;
  }

  .waiting {
    color: yellow;
  }

  .error {
    color: red;
  }

  .progress {
    justify-self: start;
    padding: 0 0.2rem;

    & > *:not(:last-child) {
      margin-right: 2px;
    }
  }

  .info {
    justify-self: end;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    & > div {
      padding: 0.2rem 0.6rem;

      span {
        margin-left: 0.5rem;
      }
    }
  }

  & > div {
    display: flex;
    align-items: center;
  }

  button {
    background: transparent;
    padding: 0.2rem 0.6rem;
    font-weight: normal;

    &:hover {
      background: var(--color-bg-interactive);
    }
  }
}
