.status {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.25rem 1rem;
  padding-top: 0.5rem;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .backendStatus {
    padding: 0.2rem 0rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
    }
  }

  button {
    background: transparent;
    border: none;
    font-weight: normal;
    padding: 0.2rem 0rem;

    &:hover {
      background: var(--grey-300);
    }
  }

  .ready {
    color: green;
  }

  .waiting {
    color: yellow;
  }

  .error {
    color: red;
  }

  .info {
    position: relative;
    justify-self: end;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    & > div {
      padding: 0.2rem 0.6rem;

      span {
        margin-left: 0.5rem;
      }
    }
  }
}
