.tabs {
  display: flex;
  -webkit-app-region: drag;
  background: var(--grey-200);
  border-bottom: 1px solid var(--grey-400);
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;

  &.mac {
    padding-left: 5rem;

    .tab:first-child {
      border-left: 1px solid var(--grey-400);
    }
  }

  .tab {
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: calc(0.8rem - 2px);
    padding-right: 1rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-right: 1px solid var(--grey-400);
    position: relative;
    -webkit-app-region: no-drag;
    font-size: 0;

    span,
    svg {
      font-size: 1rem;
      line-height: 1em;
    }

    .tabBadge {
      position: absolute;
      top: 0.3rem;
      left: 0.4rem;
      background: var(--accent-900);
      color: white;
      font-weight: 600;
      font-size: 0.7rem;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .tabProgress {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
    }

    &.selected {
      background: var(--grey-300);
      border-bottom-color: var(--accent-900);
    }

    &:hover {
      border-bottom-color: var(--grey-800);
    }

    button {
      background: none;
      padding: 0;
      line-height: 0;
      font-size: 1.2rem;
      margin-left: 0.5rem;
      margin-right: -0.5rem;
      margin-top: 0.1rem;
    }
  }
}
