.wrapper {
  display: flex;
  flex: 1;
  align-items: flex-start;

  @media screen and (min-width: 960px) {
    justify-content: center;
    align-items: center;
  }
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 20rem;
    width: 900px;
  }

  & > div {
    width: 100%;
    max-width: 900px;
    background: var(--color-bg-panel);
    padding: 1rem;
  }

  .recent {
    background: var(--color-bg-panel-dark);
  }

  .actions {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}
