.main {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 100%;
  flex: 1;
  min-height: 0;
}

.preview {
  display: flex;
  flex-direction: column;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
    height: 125px;
    width: auto;
    margin: 0.5rem 0.25rem;
    border: 0.25rem solid transparent;

    &.selected {
      border-color: white;
    }
  }
}
