.storage {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    align-items: center;

    & > * {
      word-break: break-all;
    }

    & > *:last-child {
      text-align: right;
    }
  }

  .bar {
    border: 1px solid var(--grey-500);
    display: flex;
    align-items: center;
    border-radius: 0.2rem;

    .free,
    .used {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      padding: 0.2rem;
    }

    .used {
      background: var(--grey-500);
    }
  }
}
