.item {
  display: grid;
  grid-template-columns: 2fr auto;
  padding: 0.5rem 0;
  grid-gap: 1rem;

  & > div:first-child {
    grid-column: 1 / 3;
    justify-content: center;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 2fr 2fr auto;

    & > div:first-child {
      grid-column: 1 / 2;
      justify-content: flex-start;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey-400);
  }

  & > div {
    display: flex;
    align-items: center;
  }

  &.success {
    .progress {
      --accent-900: var(--green-900);
    }
  }

  &.error {
    .progress {
      --accent-900: var(--red-900);
    }
  }
}
