.wrapper {
  background: var(--grey-300);
  border: 1px solid var(--grey-400);
  color: var(--grey-900);
  padding: 0.6rem;
  border-radius: 5px;
  outline: none !important;
  transition: 0.2sease-in-out all;
  display: flex;
  flex-wrap: wrap;

  .tag {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.25rem;
    margin-right: 0.3rem;
    border-radius: 5px;
    line-height: 0;
    color: var(--always-white);

    button {
      margin-left: 0.25rem;
      color: var(--always-white);
    }
  }

  .newTag {
    flex: 1;
    border: none;
    background: none;
    padding: 0;
    font-size: 0.8rem;
    min-width: 10rem;
  }
}
