.search {
  display: flex;
  align-items: center;
  background: var(--grey-400);
  border-radius: 5px;
  padding: 0 0.5rem;

  &:focus-within {
    background: var(--grey-600);
  }

  input {
    background: transparent;
    outline: none;
    flex: 1;
  }

  button {
    background: none;
    padding: 0;

    svg {
      font-size: 1.2rem;
    }
  }
}
