.alert {
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 0;
  margin: 1rem 0;
  background: var(--grey-300);
  border: 1px solid var(--grey-400);
  border-radius: 5px;
  --icon-size: 1rem;

  span {
    font-size: 0.8rem;
  }

  svg {
    min-width: var(--icon-size);
    font-size: var(--icon-size);
    margin-right: 0.5rem;
  }

  &.error {
    color: var(--red-900);
  }

  &.warning {
    color: var(--yellow-900);
  }

  &.ok {
    color: var(--green-900);
  }
}

.alerts {
  margin: 1rem 0;
  border: 1px solid var(--grey-400);
  border-radius: 5px;

  & > div {
    margin: 0;
    border: none;
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-400);
    }
  }
}
