.alert {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0;
  margin: 1rem;

  span {
    font-size: 0.8rem;
  }

  svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &.error {
    border: 1px solid var(--red-900);
    background: var(--red-100);

    svg {
      color: var(--red-900);
    }
  }

  &.warning {
    border: 1px solid var(--yellow-900);
    background: var(--yellow-100);

    svg {
      color: var(--yellow-900);
    }
  }

  &.ok {
    border: 1px solid var(--green-900);
    background: var(--green-100);

    svg {
      color: var(--green-900);
    }
  }
}
