.alert {
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 0;
  margin: 1rem 0;
  background: var(--grey-300);
  border-radius: 5px;
  --icon-size: 1rem;

  span {
    font-size: 0.8rem;
  }

  svg {
    min-width: var(--icon-size);
    font-size: var(--icon-size);
    margin-right: 0.5rem;
  }

  &.error {
    color: var(--red-900);
  }

  &.warning {
    color: var(--yellow-900);
  }

  &.ok {
    color: var(--green-900);
  }
}

[data-theme='light'] {
  .alert {
    &.error {
      background: var(--red-100);
    }

    &.warning {
      background: var(--yellow-100);
    }

    &.ok {
      background: var(--green-100);
    }
  }
}

.alerts {
  margin: 1rem 0;

  & > div {
    margin: 0;
    border: none;

    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }
}
