.content {
  padding: 1rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab {
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out all;

  button {
    background: none;
    padding: 0;
    line-height: 0;
  }
}

.tabs {
  &.normal > .tab {
    svg,
    img {
      margin-right: 0.5rem;
    }
  }

  &.icon {
    & > .tab {
      padding: 0.5rem;

      svg,
      img {
        font-size: 1.4rem;
        height: 1.4rem;
      }

      span {
        display: none;
      }
    }
  }
}

.tabView {
  &.horizontal {
    display: grid;
    grid-template-rows: 1.5rem calc(100% - 1.5rem);
    height: 100%;

    & > .tabs {
      display: flex;
      border-bottom: 1px solid var(--grey-300);
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
      }

      & > .tab {
        background: var(--grey-300);
        padding: 0 0.5rem;
        margin-right: 0.25rem;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        flex-shrink: 0;

        &.selected {
          background: var(--grey-600);
        }
      }
    }
  }

  &.vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 0;

    @media screen and (min-width: 960px) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 100%;
    }

    & > .tabs {
      background: var(--grey-200);
      display: flex;

      @media screen and (min-width: 960px) {
        display: block;
      }

      &.normal {
        & > .tab {
          padding: 0.4rem;
        }
      }

      & > .tab {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 0.1rem;

        &.selected {
          background: var(--grey-300);
        }

        &:hover {
          background: var(--grey-400);
        }
      }
    }
  }

  &.large {
    flex: 1;

    & > .content {
      background: var(--grey-200);
      border-radius: 5px;
      padding: 1rem;
      margin-right: 1rem;
    }

    &.vertical {
      @media screen and (min-width: 960px) {
        grid-template-columns: 15rem 1fr;
      }

      & > .tabs {
        background: none;
        border-right: none;
        padding: 0 1rem;

        & > .tab {
          text-transform: none;
          background: none;
          border-radius: 5px;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 0;
          margin-bottom: 0.2rem;
          border: none;

          &.selected,
          &:hover {
            background: var(--grey-400);
          }

          svg,
          img {
            font-size: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
          }

          span {
            font-size: 0.9rem;
            line-height: 1em;
            font-weight: 600;
          }
        }
      }
    }
  }
}
