.content {
  background: var(--color-bg-panel);
  padding: 0.5rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab {
  display: flex;
  align-items: center;

  button {
    background: none;
    padding: 0;
    line-height: 0;
  }
}

.tabs {
  &.normal {
    & > .tab svg {
      margin-right: 0.5rem;
    }
  }

  &.icon {
    & > .tab {
      padding: 0.5rem;

      svg {
        font-size: 1.4rem;
      }

      span {
        display: none;
      }
    }
  }
}

.tabView {
  &.horizontal {
    display: grid;
    grid-template-rows: 1.5rem calc(100% - 1.5rem);
    height: 100%;

    & > .tabs {
      display: flex;
      border-bottom: 1px solid var(--color-bg-interactive-hover);

      & > .tab {
        background: var(--color-bg-panel);
        padding: 0 0.5rem;
        margin-right: 0.25rem;
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &.selected {
          background: var(--color-bg-interactive-hover);
        }
      }
    }
  }

  &.vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 0;

    @media screen and (min-width: 960px) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 100%;
    }

    & > .tabs {
      background: var(--color-bg-panel-dark);
      display: flex;

      @media screen and (min-width: 960px) {
        display: block;
      }

      &.normal {
        & > .tab {
          padding: 0.4rem;
        }
      }

      & > .tab {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        cursor: pointer;

        &.selected {
          background: var(--color-bg-panel);
        }

        &:hover {
          background: var(--color-bg-interactive);
        }
      }
    }
  }

  &.large {
    flex: 1;

    & > .content {
      background: none;
      padding: 0;
    }

    &.vertical {
      @media screen and (min-width: 960px) {
        grid-template-columns: 15rem 1fr;
        grid-gap: 1rem;
        padding: 1rem;
        padding-left: 0;
      }

      & > .tabs {
        background: none;

        & > .tab {
          text-transform: none;
          background: var(--color-bg-panel);
          border-radius: 0 5px 5px 0;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 0;
          margin-bottom: 0.5rem;

          &.selected {
            background: var(--color-bg-interactive-hover);
          }

          &:hover {
            background: var(--color-bg-interactive);
          }

          svg {
            font-size: 1.25rem;
            margin-right: 0.5rem;
          }

          span {
            font-size: 1rem;
            line-height: 1em;
            font-weight: 600;
          }
        }
      }
    }
  }
}
