.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;

  input {
    width: 0;
    height: 0;
    position: absolute;
  }

  .indicator {
    background: var(--grey-200);
    border: 1px solid var(--grey-400);
    width: 1em;
    height: 1em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out all;
    color: var(--accent-100);

    svg {
      opacity: 0;
      font-size: 1em;
      transition: 0.2s ease-in-out all;
    }
  }

  .label {
    margin-left: 0.5rem;
  }

  input:checked + .indicator {
    background: var(--accent-900);

    svg {
      opacity: 1;
    }
  }
}
