.checkbox {
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 0;
    height: 0;
    position: absolute;
  }

  .indicator {
    background: var(--grey-200);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    transition: 0.2s ease-in-out all;
    color: var(--green-100);

    svg {
      opacity: 0;
      font-size: 1.5rem;
      transition: 0.2s ease-in-out all;
    }
  }

  input:checked + .indicator {
    background: var(--green-900);

    svg {
      opacity: 1;
    }
  }
}
