.editor {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-app-region: no-drag;

  svg {
    font-size: 1.6rem;
  }

  .header {
    background: var(--grey-100);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    font-size: 0;

    max-width: 960px;
    margin: 1rem auto;

    svg {
      font-size: 1.4rem;
    }
  }

  .tools,
  .toolSettings,
  .actions {
    background: var(--grey-100);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .toolSection,
  .actions {
    display: flex;
    position: absolute;
    top: 1rem;
    font-size: 0;
  }

  .toolSection {
    left: 1rem;
  }

  .actions {
    position: absolute;
    right: 1rem;
  }

  .actions,
  .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      padding: 0.2rem;

      &.active {
        background: var(--grey-600);
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }

  .toolSettings {
    margin-left: 0.5rem;

    & > div {
      margin: 0;
    }

    .size {
      width: 10rem;
    }

    .switch {
      padding: 0;

      & > button {
        padding: 0.5rem;
      }

      svg {
        font-size: 0.75rem;
      }
    }
  }

  canvas {
    position: absolute;
    inset: 0;
  }
}
