.label {
  display: block;
  margin: 0.6rem 0;

  .title {
    text-transform: uppercase;
    color: var(--grey-800);
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
  }

  .required {
    color: var(--red-900);
    margin-left: 0.3rem;
  }

  input,
  textarea,
  button {
    width: 100%;
  }
}
