.progressCircle {
  width: 1em;
  height: 1em;
  color: white;
  transition: 0.2s ease-in-out all;
  transform: rotate(0deg);
  --progress-fg: var(--color-accent);
  --progress-bg: var(--color-bg-panel);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  .progress {
    font-size: 0.35em;
    font-weight: bold;
  }
}
