.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  display: flex;
  align-items: center;

  input {
    flex: 1;
  }
}

.searchTitle {
  font-weight: 600;
}

.search {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  & > * {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  & > *,
  select,
  input {
    width: 100%;
  }
}

.results {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
}

.searchInput {
  background: var(--grey-400);
  border: none;
  color: var(--grey-900);
  padding: 0.6rem;
  border-radius: 5px;

  input {
    background: none;
    padding: 0;
    outline: none !important;
  }

  button {
    margin-left: 0.5rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1rem;
  min-height: 0;
  max-height: 100%;
}
