.setup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
}

.cta {
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;

  span {
    margin-left: 0;
    margin-right: 0.5rem;
  }

  svg {
    margin-top: 0.1rem;
  }
}
