.setup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
}

.cta {
  font-size: 0.9rem;

  svg {
    margin-top: 0.1rem;
  }
}
