.status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--grey-400);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  button {
    background: transparent;
    padding: 0;
    font-weight: normal;

    &:hover {
      background: var(--grey-400);
    }
  }

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: var(--grey-200);
    padding: 0.25rem 0;

    button {
      padding: 0.2rem 0.6rem;
    }

    & > div {
      flex-direction: row;
      align-items: center;
    }

    .progress {
      padding: 0 0.2rem;
    }
  }

  .ready {
    color: green;
  }

  .waiting {
    color: yellow;
  }

  .error {
    color: red;
  }

  .progress {
    justify-self: start;

    & > *:not(:last-child) {
      margin-right: 2px;
    }
  }

  .info {
    position: relative;
    justify-self: end;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    & > div {
      padding: 0.2rem 0.6rem;

      span {
        margin-left: 0.5rem;
      }
    }
  }
}
