.list {
  margin: 0 -0.25rem;
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
}

.model {
  display: inline-block;
  aspect-ratio: 0.75;
  overflow: hidden;
  width: 50%;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1rem;

  @media screen and (min-width: 960px) {
    width: 25%;
  }

  @media screen and (min-width: 1500px) {
    width: 12.5%;
  }

  .name {
    font-weight: bold;
    color: white;
    font-size: 0.8rem;
    margin: 0.25rem;
  }

  .preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

    & > img,
    .noPhotos {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    .noPhotos {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
    }

    & > img {
      object-fit: cover;
      filter: grayscale(0.5);
      transition:
        0.3s ease-in-out transform,
        0.3s ease-in-out filter;
    }

    &:hover {
      & > img {
        filter: grayscale(0);
        transform: scale(1.2);
      }
    }
  }

  .details {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0.25rem;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .stats {
    display: flex;
    flex-wrap: wrap;

    & > div {
      display: flex;
      align-items: center;
      padding: 2px 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;

      & > span {
        margin-left: 0.5rem;
        font-size: 0.7rem;
      }

      & > svg {
        min-width: 1rem;
        margin: 0;
      }
    }
  }
}
